<%
require 'uv'
require 'table_fu'
require 'FasterCSV'

def code_for(file, output=true)
  return '' unless File.exists?("examples/#{file}.rb")
  file = File.open("examples/#{file}.rb").read
  html = Uv.parse(file, "xhtml", "ruby", false, "dawn", false)
  out = ''
  if output
    out = yield eval(file) if block_given?
    out = "<p><em>Produces:</em></p>" + Uv.parse(out, 'xhtml', 'ruby', false, 'dawn', false)
  end
  "#{html}#{out}"
end
%>
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />    
    <title>TableFu</title>
    <link rel="stylesheet" type="text/css" href="documentation/css/styles.css" />
    
    <link rel="stylesheet" type="text/css" href="documentation/css/dawn.css" />

  </head>
  
  <body>
    <a href="http://www.propublica.org" class="propublica">&nbsp;</a>
    <h1>TableFu <small>&ndash; Version: <%= 
    config = YAML.load(File.read('VERSION.yml'))
    "#{config[:major]}.#{config[:minor]}.#{config[:patch]}"
    %></small></h1>

    <p><strong>TableFu</strong> is a utility for spreadsheet-style handling for arrays (e.g. filtering, formatting, and sorting). In addition, it has the ability to <a href="#facet">facet</a> &mdash; or group &mdash; rows according to cell value. It was developed as a backend for its sister project <a href="http://www.github.com/propublica/table-setter">Table Setter</a>.</p>
    <p>For example, <strong>TableFu</strong> can consume a csv file and sort on a column:
        <%= code_for "sort_by_column" do |ret|
              ret.rows.inspect
            end
        %>
    </p>
    <h2>Table of Contents</h2>
    <ul>
      <li>Installation</li>
      <li>Usage</li>
      <li>Faceting</li>
      <li>Macros / Formatting</li>
      <li>Credits</li>
      <li>License</li>
    </ul>
    <h2>Installation</h2>
    <p><strong>TableFu</strong> is available as a rubygem:
<pre class="dawn">
 gem install table_fu</pre>
  
    or from the actual source:
    
<pre class="dawn">
 git clone git://github.com/propublica/table-fu.git
 cd table-fu
 rake install</pre>
    </p>
    <h2>Usage</h2>
    <p>
      
    </p>
    
    
    <h2>License</h2>
    <pre><%= File.open("LICENSE").read %></pre>
  </body>
</html>
